page-login {
    .login-app-logo {
      display: block;
      margin: auto;
    }
  
    .login-item {
      margin-bottom: 8px;
      border-radius: 4px;
      background-color: #f1c40f;
      color: white;
    }
  
    .login-facebook {
     margin-top: 12px;
    }
  
    .login-button {
      margin-top: 16px;
    }
    .back-button-icon-md {
      color: rgb(252, 190, 35);
    }
    .Main-button {
      width: 100%;
      text-align: center;
    }
    .goyu_logo {
      width: 120px;
      height: 60px;
      -o-object-fit: contain;
      object-fit: contain;
      width: 85%;
  }
  }
  