<ion-header no-border>
    <ion-toolbar>
      <div class = "center">
          <img src="assets/imgs/back@3x.png" (click) = "back()"/>
          <img src="assets/imgs/goyu-logo@3x.png" class="goyu_logo"/>
          <img src="assets/imgs/profile@2x.png" (click) = "back()"/>
        </div>
       
  </ion-toolbar>
</ion-header>

 

<ion-content padding>
    <div *ngIf = "isDataAvai">
        <div *ngFor="let d of data; let i = index;">
            <ion-grid  class="tripsGrid">
                <!-- <button id='hidden-button' ion-button (click)="openMore()"> -->
              <ion-row (click)="openMore(d,i)" class="tripsContent">

                  <div class= "tableCol">
                      <img class= "tableProfile" src="assets/imgs/photo-1502056929870-816-ec-2-acddcf@3x.png"/>
                  </div>
                  <div class= "tableCol2">
                        <ion-row>
                              <ion-col>
                                  <div class = "name"> {{ d.driver.firstName }}  {{ d.driver.lastName }} </div> 
                              </ion-col>
                          </ion-row>
                        <ion-row>
                            <ion-col>
                               <div class="Departure" >From: {{ d.startAddrId }}</div> 
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <div class="Departure" > Tom: {{ d.destAddrId }}</div> 
                            </ion-col>
                        </ion-row>
                      </div>
             </ion-row>
            <ion-row *ngIf = "i == currentIndex" class="Departure">
                  <div class= "tableCol2">
                      <ion-row>
                          <ion-col>
                             <div class="Departure" >Depature: {{ d.createdOn }}</div> 
                          </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                              <div class="Departure" > Time: {{ d.startTime }}</div> 
                          </ion-col>
                      </ion-row>
                      <ion-row x class="tripsTable2">
                          <ion-col>
                              <div > Seats Available: {{ d.seats}}</div> 
                          </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                           <div>Car info: {{ d.luggageDesc }}</div> 
                        </ion-col>
                      </ion-row>
                  </div>
                  <div class= "tableCol">
                      <button  (click)="book(d)" class= "buttonBottom">Book</button>
                  </div>

              </ion-row>

              <br>
            </ion-grid>

        </div>
    </div>
  
    <div  *ngIf = "isDataAvai != true">
        loading...
    </div>
      
  </ion-content>