<!-- <ion-header no-border>
    <ion-toolbar>
      <div class = "center">
          <img src="assets/imgs/back@3x.png" (click) = "back()"/>
          <img src="assets/imgs/goyu-logo@3x.png" class="goyu_logo"/>
          <img src="assets/imgs/profile@2x.png" (click) = "back()"/>
        </div>
       
  </ion-toolbar>
</ion-header> -->

<ion-header>

        <ion-navbar color="nav-color">
          <button ion-button icon-only menuToggle (click) = "back()">
            <ion-icon name="menu"></ion-icon>
          </button>
      
                <img src="assets/imgs/goyu-logo@3x.png" class="goyu_logo"/>
      
          <ion-buttons end>
            <button ion-button icon-only (click) = "presentPopover($event)">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-buttons>
        </ion-navbar>
      
      </ion-header>

 

<ion-content padding>
    <div class = "question" translate>pAvailable</div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf = "isDataAvai">
        <div *ngFor="let d of data; let i = index;">
            <ion-grid class="tripsContent">
                <!-- <button id='hidden-button' ion-button (click)="openMore()"> -->
              <ion-row (click)="openMore(d,i)" >

                  <div class= "tableCol">
                      <img class= "tableProfile" src="assets/imgs/user.png"/>
                      <!-- <img *ngIf= "i%2!=0" class= "tableProfile" src="assets/imgs/man.png"/> -->
                  </div>
                  <div class= "tableCol2">
                        <ion-row>
                              <ion-col>
                                  <div class = "name"> {{ d.driver.firstName }}  {{ d.driver.lastName }} </div> 
                              </ion-col>
                          </ion-row>
                        <ion-row>
                            <ion-col>
                               <div class="fromTo">{{'pFrom' | translate}}: {{ d.startAddrId }}</div> 
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <div class="fromTo" > {{'pTo' | translate}}: {{ d.destAddrId }}</div> 
                            </ion-col>
                        </ion-row>
                      </div>
             </ion-row>
            <ion-row *ngIf = "i == currentIndex" class="Departure">
                  <div class= "tableCol2">
                      <ion-row>
                          <ion-col>
                             <div class="Departure">{{'pDDate' | translate}}: {{ d.createdOn }}</div> 
                          </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                              <div class="Departure"> {{'pTime' | translate}}: {{ d.startTime }}</div> 
                          </ion-col>
                      </ion-row>
                      <ion-row x class="tripsTable2">
                          <ion-col>
                              <div> {{'pSeats' | translate}}: {{ d.seats}}</div> 
                          </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                           <div >{{'pcar' | translate}}: {{ d.luggageDesc }}</div> 
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                            <div class="TripCost" >{{'pTripCost' | translate}}: {{ d.tripCost }}</div> 
                        </ion-col>
                      </ion-row>
                  </div>
                  <div class= "tableCol">
                      <button  (click)="book(d)" class= "buttonBottom" (click)="bookTrip()">{{'pBook' | translate}}</button>
                  </div>

              </ion-row>

            </ion-grid>

        </div>
    </div>
  
    <div  *ngIf = "isDataAvai != true" translate>pLoading</div>
      
  </ion-content>