page-home {
    .The-Future-of-Ridesh {
        height: 15px;
        font-family: Roboto;
        font-size: 20px;
        text-align: center;
        color: #000000;
    }

    .The-easiest-solution {
        height: 50px;
        font-family: Roboto;
        font-size: 15px;
        text-align: center;
        color: #000000;
      }


    a:hover,a:visited { color:#000; }
    
    .goyu_logo {
        width: 120px;
        height: 60px;
        -o-object-fit: contain;
        object-fit: contain;
        width: 100%;
    }
    .Sign-Up {
        font-family: Roboto;
        text-align: center;
        color: black
    }
    .Main-button {
        width: 100%;
        text-align: center;
      }
    .body {
        object-fit: contain;
        background-image:  url(../assets/imgs/background@3x.png);
        height:100%;
    }
    .langDiv{
        text-align:center;
    }
     #container > div
        {
            display: inline-block;
        }
        #container
        {
            text-align: center;
            margin: 0px auto;
            width: 40%;
        }  
      body {
        cursor: url('https://ionicframework.com/img/finger.png'), auto;
      }
      
      .toggle .track
      {
            border-radius: 6px !important;
            width: 70px;
      }
      
      .toggle .handle
      {
            border-radius: 6px !important;
            width: 32px !important;
            height: 32px !important;
            top: 4px !important;
      }
      .toggle .handle:before {
         font-family: "Ionicons";
         content: "\f13f" !important;
         top: -11px !important;
         left: -21.5px !important;
      }
      
      .toggle input:checked + .track .handle {
          -webkit-transform: translate3d(28px, 0, 0);
          transform: translate3d(28px, 0, 0);
      }


}
