// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, yellow);
}
.longButton{
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    background-color: #57def9;
  }

  .buttonBottom{
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    overflow: hidden;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    background-color: #57def9;
    width: 90px;
    height: 40px;
  }

  .question {
    height: 8%;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
.text {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }

.goyu_logo {
    width: 120px;
    height: 60px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}
.topHeader{
    // vertical-align: middle;
    text-align:center;
}

.backButton{
    object-fit: contain;
    // margin-top:40px;
    // width: 100%;
}
.driver-button {
    // height : 90%;
}
.passenger-button{
    height : 85%;
}
.driverRow{
      margin-top: 10px;
}

.Main-button {
    width: 100%;
    text-align: center;
  }
.body {
    object-fit: contain;
    background-image:  url(../assets/imgs/background@3x.png);
    height:100%;
}
.bodyFit{
    height: 100%;
    overflow: visible;
}

.back-button-icon-md {
    color: rgb(252, 190, 35);
  }