<ion-header>
    <ion-navbar color="nav-color">
        <img src="assets/imgs/goyu-logo@3x.png" class="goyu_logo"/>
      <ion-buttons end>
        <button ion-button icon-only (click) = "presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
 <div class = "question" >Driver Home</div>
  <div *ngIf = "isDataAvai">
      <div *ngFor="let d of data; let i = index">
          <ion-grid class="tripsContent">
           
                <ion-row (click)="openMore(d,i)" >
                    <div class='tableCol2'>
                        <ion-row>
                            <ion-col class= "col col-50">
                                Date: {{ d.createdOn }}
                            </ion-col>
                            <ion-col col-5 >
                                Time: {{ d.startTime }}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                From: {{ d.startAddrId }}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                To: {{ d.destAddrId }}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                                <ion-col>
                                    Trip Cost Per Person: {{ d.tripCost }}
                                </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class= "col col-50">Round Trip: {{ d.isRoundTrip == 1? 'Yes':'No' }}</ion-col>
                            <ion-col col-5>Car Model: {{ d.luggageDesc}}</ion-col>
                        </ion-row>
                    </div>
                </ion-row>
            
            
                <ion-row class="moreInfo" *ngIf = "i == currentIndex" >
                    <div *ngFor="let i of d.passengerList;">
                        <ion-row>
                          <ion-col>
                            <div class="TripCost" >Passenger: {{i.firstName}} {{i.lastName}} &emsp; &emsp;phone: {{ i.phoneNo}}   </div> 
                          </ion-col>
                        </ion-row>
                    </div>
                </ion-row>
          </ion-grid>
          </div>
  </div>

  <div  *ngIf = "isDataAvai != true">
      You don't have anytrips
  </div>
  
  <div>
      <ion-item>
          <button  color="button" ion-button block color="yellow" (click)="createTrip()">
            Create Trip
          </button>
        </ion-item> 
  </div>
    
</ion-content>


