<ion-header>
    <ion-navbar color="nav-color" >
            <img src="assets/imgs/goyu-logo@3x.png" class="goyu_logo"/>
        <ion-buttons end>
        <button ion-button icon-only>
            <ion-icon name="person"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf = "isDataAvai">
        <div *ngFor="let d of data">
            <ion-grid class="tripsTable">
              <ion-row>
                  <ion-col>
                      Date: {{ d.createdOn }}
                  </ion-col>
                  <ion-col>
                      Time: {{ d.startTime }}
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      From: {{ d.startAddrId }}
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      To: {{ d.destAddrId }}
                  </ion-col>
              </ion-row>
              <ion-row>
                    <ion-col>
                        Trip Cost: {{ d.tripCost }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="TripCost" >Driver: {{ d.driver.firstName}} {{ d.driver.firstName}} &emsp; &emsp;phone: {{ d.driver.phoneNo}}   </div> 
                    </ion-col>
                </ion-row>
              <br>
            </ion-grid>
            </div>
    </div>
  
    <div  *ngIf = "isDataAvai != true">
        You don't have anytrips
    </div>
    
    <div>
        <ion-item>
            <button  color="button" ion-button block color="yellow" (click)="searchTrip()">
              Search Trips
            </button>
          </ion-item> 
    </div>
      
  </ion-content>