<ion-header>
    <ion-navbar color="nav-color" >
            <img src="assets/imgs/goyu-logo@3x.png" class="goyu_logo"/>
        <ion-buttons end>
        <button ion-button icon-only (click) = "presentPopover($event)">
            <ion-icon name="more"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
        <div class = "question">{{'pHome' | translate}}</div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf = "isDataAvai">
        <div *ngFor="let d of data; let i = index;">
            <ion-grid class="tripsTable">
              <ion-row>
                  <ion-col class = "col col-50">{{'pDDate' | translate}}: {{ d.createdOn }}
                  </ion-col>
                  <ion-col col-4 >
                    {{'pTime' | translate}}: {{ d.startTime }}
                  </ion-col >
                  <ion-col col-1>
                    <button (click)="cancelTrip(i)">
                            <ion-icon name="close"></ion-icon>
                    </button>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                    {{'pFrom' | translate}}: {{ d.startAddrId }}
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                    {{'pTo' | translate}}: {{ d.destAddrId }}
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                   <div>{{'pcar' | translate}}: {{ d.luggageDesc }}</div> 
                </ion-col>
              </ion-row>
              <ion-row>
                    <ion-col>
                        {{'pTripCost' | translate}}: {{ d.tripCost }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="TripCost" >{{'pdName' | translate}}: {{ d.driver.firstName}} {{ d.driver.lastName}} &emsp; &emsp;{{'pPhone' | translate}}: {{ d.driver.phoneNo}}   </div> 
                    </ion-col>
                </ion-row>
              <br>
            </ion-grid>
            </div>
    </div>
  
    <div  *ngIf = "isDataAvai != true">{{'pNoTrips' | translate}}</div>
    
    <div>
        <ion-item>
            <!-- <button  color="button" ion-button block color="yellow" (click)="searchTrip()">
              Search Trips
            </button> -->
            <button ion-button block
            color="button"
            class= "longButton" 
            (click)="searchTrip()">{{'pSearch' | translate}}
            </button>
          </ion-item> 
    </div>
      
  </ion-content>